body{
  font-family: 'Krona One', sans-serif;
}

h1{
  font-family: ;
  font-size: 40px;
}
.name-heighlight{
  color: orange;
}
.half-width{
  width: 40%;
  float: left;
  margin: 3%;
  padding: 2%;
}
.half-width img{
  width: 100%;
}